/* -------------------------------- PSETS CODE */
.pset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.pset h3, pre, .pset p {
    margin: 2vw 0;
}

pre {
    font-family: monospace;
    font-size: 3.5vw;
    padding: 3vw;
    border: 0.2vw solid black;
    max-height: 30vh;
    overflow: auto;
    margin-left: 1vw;
}

#fiftyville {
    max-height: fit-content;
}

.pset img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.databases pre {
    padding-right: 3vw;
}

.databases .bold {
    font-size: 2vw;
}

.databases h3 {
    margin-top: 3vw;
}