/* -------------------------------- PSETS CODE */
.pset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.pset h3, pre, .pset p {
    margin: 0.4rem;
}

.pset p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

pre {
    font-family: monospace;
    font-size: 0.8rem;
    padding: 1rem;
    border: 2px solid black;
    max-height: 15rem;
    overflow: auto;
    margin-left: 0.3rem;
}

#fiftyville {
    max-height: fit-content;
}

.pset img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.databases h3 {
    margin-top: 1rem;
}

.databases pre {
    margin-bottom: 1.5rem;
}