/* -------------------------------- INTRODUCTION */
#intro h2, #intro span {
    display: inline-block;
    white-space: pre;
    font-size: 1.2rem;
    font-family: 'Lacquer', cursive;
    cursor: default;
}

#intro h1 {
    margin: 0;
}

/* Hello, world */
#intro p {
    display: inline-block;
    font-size: 1.7rem;
    font-family: 'Lacquer', cursive;
    cursor: default;
}

#intro p:hover {
    color: darkcyan;
}

#imagining:hover {
    color: mediumpurple;
}

#creating:hover {
    color: darkcyan;
}

#designing:hover {
    color: yellowgreen;
}

/* -------------------------------- ABOUT ME */
#AnePhoto {
    width: 100%;
}

#aboutme p {
    font-size: 1.1rem;
    padding: 0.55rem;
}

/* -------------------------------- EDUCATION LIST */
#education-list {
    list-style-type: none;
    padding-inline-start: 0;

    & li {
        list-style-type: none;
        font-weight: 600;
        font-size: 1.1rem;
    }
}

.highlight-number {
    font-size: 1.65rem;

}

/* -------------------------------- LISTS */
ul li {
    font-family: 'Architects Daughter', cursive;
}

ul li ul li {
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
}