/* -------------------------------- FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lacquer&family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* -------------------------------- VARIABLES */
:root {
    --purple: #721e73;
}

/* -------------------------------- BASICS */
html {
    scroll-behavior: smooth;

    background: #602e60;
}

* {
    margin: 0;
    max-width: 100%;
    color: black;
    scroll-margin-top: 3.8rem;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

    min-height: 100vh;
    background-image: url("../background.svg");
    background-size: 100%;
}

.bold {
    font-weight: bold;
}

#logo {
    width: 3.5rem;
    position: fixed;
    z-index: 5;
}

#triangle {
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 3;
}

/* -------------------------------- FLEXBOX */
.flexbox-container-c {
    display: flex;
    flex-direction: column;
}

main.flexbox-container-c {
    margin: 0 2rem;
    padding: 3.5rem 1.3rem 0 1.3rem;
    background: rgba(123, 79, 124, 0.35);
}

.flexbox-container {
    display: flex;
}

/* -------------------------------- SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track and corner */
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #89498c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 0.9rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4c0e4d;
}

/* -------------------------------- NAVIGATION */
header {
    height: fit-content;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-top: 0.35rem;
    position: fixed;
    z-index: 5;
    right: 0;
}

nav ul li {
    list-style-type: none;
    padding: 0 0.5rem;
    font-size: 1rem;
}

nav a, .dropdown-content {
    color: var(--purple);
    font-size: 1.15rem;
    font-family: 'Architects Daughter', cursive;
    background-color: transparent;
}

a, .dropdown-content {
    text-decoration: none;
}

a:hover, .dropbtn:hover {
    color: white;
    background-color: transparent;
}

/* Dropdown lists */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    text-align: end;
    min-width: fit-content;
    z-index: 1;
    background-color: black;
    padding: 0.7rem;
}

.dropdown-content a {
    display: block;
    font-size: 1.15rem;
    white-space: nowrap;
}

/* Change color of dropdown links on hover */
.dropdown-content:hover {
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* -------------------------------- TEXT AND HEADINGS */
h1 {
    margin-top: 1rem;
    font-size: 2.45rem;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 80%;
}

h1 span {
    font-size: 1.25rem;
    font-family: 'Lacquer', cursive;
}

h2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    padding: 0.3rem 0;
}

ul, ol {
    padding-inline-start: 25px;
}

ul li {
    padding-bottom: 1rem;
    font-size: 1.45rem;
}

ul li ul li, ol li ul li {
    padding: 0;
    font-weight: 500;
}

ol li {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

/* -------------------------------- SECTIONS */
section {
    padding-bottom: 1.5rem;
}

/* -------------------------------- BUTTONS */
button {
    font-size: 1.2rem;
    font-family: 'Architects Daughter', cursive;
    background-color: #ffffff30;
    border: none;
    padding: 0.6rem;
    margin: 0.8rem 0;
}

/* -------------------------------- SHOW MORE ARROW */

.show-more {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    padding: 0 5px 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Architects Daughter', cursive;

    & span:hover {
        color: white;
    }
}

svg {
    transform: rotate(0deg) scale(0.7);
}

.rotate {
    transform: rotate(-90deg) scale(0.7);
}

.hidden {
    display: none;
}

/* -------------------------------- FOOTER */
footer {
    text-align: center;
    margin-top: 1.7rem;
    background-color: black;
    height: fit-content;
    padding: 15px;
}

footer p {
    font-size: 0.8rem;
    color: var(--purple);
    flex-shrink: 0;
}