/* -------------------------------- FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lacquer&family=Ubuntu:wght@500&display=swap');

/* -------------------------------- VARIABLES */
:root {
    --purple: #7E1E80;
}

/* -------------------------------- BASICS */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    position: relative;
    max-width: 100%;
    color: black;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4vw;
}

.bold {
    font-weight: bold;
}

.scroll-margin {
    scroll-margin-top: 6vw;
}

/* -------------------------------- SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track and corner */
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #89498c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 0.5vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4c0e4d;
}

/* -------------------------------- FLEXBOX */
.flexbox-container-c {
    display: flex;
    flex-direction: column;
    margin: 0 8vw 0 8vw;
    padding-top: 9vw;
}

.flexbox-container {
    display: flex;
}

.databases .flexbox-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.databases .flexbox-item {
    width: 36vw;

}

.flexbox-item {
    padding: 0 2vw;
}

/* -------------------------------- BACKGROUND AND LOGO */
body {
    background-color: var(--purple);
    max-width: 100%;
}

#background {
    position: absolute;
    opacity: 0.3;
    width: 100%;
    max-height: 100%;
    /*-webkit-box-reflect: below;*/
}

#logo {
    width: 15vw;
    position: fixed;
    z-index: 5;
}

#triangle {
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 3;
}

/* -------------------------------- NAVIGATION */
nav ul {
    display: flex;
    align-items: center;
    margin-right: 6vw;
    padding-top: 3vw;
    position: fixed;
    z-index: 5;
    right: 0;
}

nav ul li {
    list-style-type: none;
}

nav a, .dropdown-content {
    color: var(--purple);
    font-size: 5vw;
    font-family: 'Lacquer', cursive;
    background-color: transparent;
}

a, .dropdown-content {
    text-decoration: none;
}

a:hover, .dropbtn:hover {
    color: white;
    background-color: transparent;
}

/* Dropdown list for projects */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: fit-content;
    z-index: 1;
    background-color: black;
    padding-bottom: 1.2vw;
}

.dropdown-content a {
    display: block;
    font-size: 2.75vw;
    white-space: nowrap;
}

/* Change color of dropdown links on hover */
.dropdown-content:hover {
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* -------------------------------- HELLO WORLD */
#intro p {
    display: inline-block;
}

#intro p:hover {
    color: darkcyan;
}

/* -------------------------------- TEXT AND HEADINGS */
h1 {
    font-size: 8vw;
}

h2, h2 span {
    font-size: 6vw;
    font-family: 'Lacquer', cursive;
}

h3 {
    font-size: 5vw;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

ul {
    padding-inline-start: 20px;
}

ol {
    padding-inline-start: 15px;
}

.inner-list li {
    font-size: smaller;
}

/* -------------------------------- INTRODUCTION */
#intro h2, #intro span {
    display: inline-block;
    white-space: pre;
    font-size: 4vw;
}

#intro p {
    font-size: 5vw;
    font-family: 'Lacquer', cursive;
}

#imagining:hover {
    color: mediumpurple;
}

#creating:hover {
    color: darkcyan;
}

#designing:hover {
    color: yellowgreen;
}

/* -------------------------------- SECTIONS */
section {
    padding-top: 5vw;
}

section section {
    padding-top: 0;
}

/* -------------------------------- PSETS CODE */
.pset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.pset div {
    margin-top: 2vw;
    padding-inline: 1vw;
}

.pset div div {
    margin-top: 0;
}

.pset h3, pre, .pset p {
    margin: 0.5vw;
}

.pset p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vw;
}

pre {
    font-family: monospace;
    font-size: 3vw;
    padding: 2vw 0 1vw 0;
    border: 0.2vw solid black;
    width: 99.8%;
    max-height: 30vh;
    overflow: auto;
    margin-left: 0;
}

.pset img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.databases pre {
    padding-right: 3vw;
}

.databases .bold {
    font-size: 2vw;
}

.databases h3 {
    margin-top: 3vw;
}

/* -------------------------------- ABOUT ME */
#AnePhoto {
    width: 100%;
}

#aboutme p {
    font-size: 3vw;
    padding: 0.5vw;
}

/* -------------------------------- FOOTER */
footer {
    text-align: center;
    margin-top: 6vw;
    background-color: black;
    height: auto;

}

footer p {
    font-size: 3vw;
    color: var(--purple);
    padding: 2vw;
}

/* -------------------------------- RESPONSIVE DESIGN */
@media screen and (min-width: 500px) {
    #AnePhoto {
        width: 50%;
    }
}

@media screen and (min-width: 400px) and (max-width: 900px) {
    section {
        padding-top: 10vw;
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size: 3vw;
    }

    .flexbox-container-c {
        padding-top: 4.5vw;
    }

    nav ul {
        padding-top: 0.5%;
    }

    #logo {
        width: 10vw;
    }

    #triangle {
        top: -5vw;
    }

    nav a {
        font-size: 3.5vw;
    }

    h1 {
        font-size: 7vw;
    }

    h2, h2 span {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    #intro h2, #intro span {
        font-size: 3.5vw;
    }

    #intro p {
        font-size: 4vw;
    }

    #aboutme p {
        font-size: 1.5vw;
    }

    ul {
        padding-inline-start: 40px;
    }

    ol {
        padding-inline-start: 40px;
    }

    .pset p {
        font-size: 1.7vw;
    }

    pre {
        font-size: 1.5vw;
        max-height: 50vh;
    }

    .pset img {
        max-height: 20vw;
        width: auto;
    }

    footer p {
        font-size: 1.5vw;
        padding: 1vw;
    }
}